In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np

df1 = pd.read_csv("newcrawldata.csv",encoding='big5')
df1.head()

,hid,hCounty,hname,hLevel,IsFull,WaitingVisit,WaitingBed,WaitingBeingInHospital,WaitingICUBed,UpdateTime,saveTime
0,1,15,財團法人私立高雄醫學大學附設中和紀念醫院,1,是,4,0,57,9,2018/2/26 上午 10:30:18,2018-02-26 10:30:15
1,2,15,義大醫療財團法人義大醫院,1,是,0,8,66,0,2018/02/26 10:28,2018-02-26 10:30:22
2,3,15,高雄長庚醫院,1,否,2,0,101,8,2018/02/26 10:30:30,2018-02-26 10:30:27
3,4,17,財團法人羅許基金會羅東博愛醫院,1,否,2,0,4,0,2018/02/26 10:29:17,2018-02-26 10:30:16
4,5,3,國泰醫療財團法人國泰綜合醫院,1,否,1,0,15,6,NaN,2018-02-26 10:30:11

In [2]:
s1 = pd.Series(df1['hCounty'])
df2 = df1[(s1 == 2)|(s1 == 3)].reset_index(drop=True)

df2 = df2[['hid','hCounty','hname','hLevel']]
df2

    hid  hCounty               hname  hLevel
0     5        3      國泰醫療財團法人國泰綜合醫院       1
1     6        3              馬偕紀念醫院       1
2     7        3            台北市立萬芳醫院       1
3     8        3       國立臺灣大學醫學院附設醫院       1
4     9        3             臺北榮民總醫院       1
5    10        3               三軍總醫院       1
6    20        2           衛生福利部雙和醫院       1
7    21        2              亞東紀念醫院       1
8    22        2              台北慈濟醫院       1
9    23        3    長庚醫療財團法人台北長庚紀念醫院       2
10   24        3          臺北醫學大學附設醫院       2
11   25        3                臺安醫院       2
12   26        3        振興醫療財團法人振興醫院       2
13   27        2     財團法人天主教耕莘醫院永和分院       2
14   28        2    國泰醫療財團法人汐止國泰綜合醫院       2
15   29        2           衛生福利部台北醫院       2
16   30        2  行天宮醫療志業醫療財團法人恩主公醫院       2
17   33        2        新北市立聯合醫院三重院區       2
18   34        2   天主教耕莘醫療財團法人新店耕莘醫院       2
19   35        3           三軍總醫院松山分院       2
20   45        3        臺北市立聯合醫院仁愛院區       2
21   46        3        臺北市立聯合醫院中興院區       2
22   47        3        臺北市立聯合醫院忠孝院區       2
23   48        3        臺北市立聯合醫院陽明院區       2
24   49        3        臺北市立聯合醫院和平院區       2

In [3]:
df3 = pd.read_csv("crawldata.csv",encoding='big5')
df3.head()

,hid,IsFull,WaitingVisit,WaitingBed,WaitingBeingInHospital,WaitingICUBed,UpdateTime,tkey,saveTime
0,1,否,1,0,20,2,2016/4/20 下午 04:45:48,2,2016-04-20 16:45:48
1,1,否,1,0,20,2,2016/4/20 下午 04:45:58,3,2016-04-20 16:45:58
2,1,否,1,0,20,2,2016/4/20 下午 04:46:07,4,2016-04-20 16:46:07
3,2,否,3,0,11,0,NaN,5,2016-04-20 16:50:25
4,3,否,2,0,64,1,2016/04/20 16:52:14,6,2016-04-20 16:52:14

In [42]:
df3[df3['hid']==24]

,hid,IsFull,WaitingVisit,WaitingBed,WaitingBeingInHospital,WaitingICUBed,UpdateTime,tkey,saveTime
17698,24,否,3,0,7,0,2016/5/17 下午 06:51:47,17884,2016-05-17 18:51:27
17699,24,否,2,0,7,0,2016/5/17 下午 06:52:06,17885,2016-05-17 18:51:47
17700,24,否,1,0,8,0,2016/5/17 下午 07:00:20,17886,2016-05-17 19:00:00
17729,24,否,1,0,7,0,2016/5/17 下午 07:30:23,17915,2016-05-17 19:30:03
17765,24,否,1,2,7,0,2016/5/17 下午 08:01:04,17951,2016-05-17 20:00:45
17787,24,否,5,0,7,0,2016/5/17 下午 08:30:26,17973,2016-05-17 20:30:07
17800,24,否,6,0,5,0,2016/5/17 下午 09:00:37,17986,2016-05-17 21:00:17
17829,24,否,3,0,5,0,2016/5/17 下午 09:30:24,18015,2016-05-17 21:30:04
17854,24,否,3,1,5,0,2016/5/17 下午 10:00:22,18040,2016-05-17 22:00:02
17873,24,否,1,0,4,0,2016/5/17 下午 10:30:21,18059,2016-05-17 22:30:01
17910,24,否,1,0,4,0,2016/5/17 下午 11:00:28,18096,2016-05-17 23:00:08
17927,24,否,2,0,4,0,2016/5/17 下午 11:30:22,18113,2016-05-17 23:30:02
17945,24,否,1,0,4,0,2016/5/18 上午 12:00:20,18131,2016-05-18 00:00:01
17979,24,否,1,0,4,0,2016/5/18 上午 12:30:26,18165,2016-05-18 00:30:07
18000,24,否,1,0,4,0,2016/5/18 上午 01:00:24,18186,2016-05-18 01:00:05
18029,24,否,1,0,4,0,2016/5/18 上午 01:30:21,18215,2016-05-18 01:30:02
18049,24,否,0,0,5,0,2016/5/18 上午 02:00:26,18235,2016-05-18 02:00:06
18061,24,否,0,0,5,0,2016/5/18 上午 02:30:20,18247,2016-05-18 02:30:00
18102,24,否,1,0,5,0,2016/5/18 上午 03:00:31,18288,2016-05-18 03:00:11
18117,24,否,0,0,5,0,2016/5/18 上午 03:30:26,18303,2016-05-18 03:30:06
18148,24,否,0,0,5,0,2016/5/18 上午 04:00:21,18334,2016-05-18 04:00:01
18166,24,否,0,0,5,0,2016/5/18 上午 04:30:25,18352,2016-05-18 04:30:05
18184,24,否,2,0,5,0,2016/5/18 上午 05:00:21,18370,2016-05-18 05:00:01
18204,24,否,1,0,5,0,2016/5/18 上午 05:30:23,18390,2016-05-18 05:30:03
18236,24,否,0,0,5,0,2016/5/18 上午 06:00:21,18422,2016-05-18 06:00:01
18261,24,否,1,0,5,0,2016/5/18 上午 06:30:25,18447,2016-05-18 06:30:05
18290,24,否,1,0,5,0,2016/5/18 上午 07:00:22,18476,2016-05-18 07:00:02
18315,24,否,0,0,5,0,2016/5/18 上午 07:30:23,18501,2016-05-18 07:30:03
18344,24,否,0,0,5,0,2016/5/18 上午 08:00:24,18530,2016-05-18 08:00:04
18361,24,否,2,0,6,0,2016/5/18 上午 08:30:25,18547,2016-05-18 08:30:05
...,...,...,...,...,...,...,...,...,...
2623610,24,否,6,1,21,0,NaN,2623854,2018-02-25 20:00:28
2623720,24,否,6,0,21,0,NaN,2623964,2018-02-25 20:30:27
2623806,24,否,3,1,23,0,NaN,2624050,2018-02-25 21:00:28
2623910,24,否,4,0,22,0,NaN,2624154,2018-02-25 21:30:27
2623995,24,否,4,0,22,0,NaN,2624239,2018-02-25 22:00:28
2624094,24,否,4,0,22,0,NaN,2624338,2018-02-25 22:30:26
2624196,24,否,6,1,22,0,NaN,2624440,2018-02-25 23:00:28
2624282,24,否,6,0,21,0,NaN,2624526,2018-02-25 23:30:26
2624371,24,否,4,0,21,0,NaN,2624615,2018-02-26 00:00:28
2624481,24,否,1,1,21,0,NaN,2624725,2018-02-26 00:30:27
2624573,24,否,2,1,23,0,NaN,2624817,2018-02-26 01:00:30
2624673,24,否,0,1,23,0,NaN,2624917,2018-02-26 01:30:30
2624764,24,否,1,0,22,0,NaN,2625008,2018-02-26 02:00:28
2624859,24,否,2,0,22,0,NaN,2625103,2018-02-26 02:30:29
2624970,24,否,0,0,21,0,NaN,2625214,2018-02-26 03:03:27
2625033,24,否,1,0,21,0,NaN,2625277,2018-02-26 03:30:24
2625138,24,否,1,0,21,0,NaN,2625382,2018-02-26 04:00:26
2625263,24,否,1,0,21,0,NaN,2625507,2018-02-26 04:30:30
2625343,24,否,0,0,21,0,NaN,2625587,2018-02-26 05:00:28
2625431,24,否,0,0,22,0,NaN,2625675,2018-02-26 05:30:26
2625550,24,否,2,0,22,0,NaN,2625794,2018-02-26 06:00:29
2625636,24,否,0,0,22,0,NaN,2625880,2018-02-26 06:30:29
2625735,24,否,0,0,22,0,NaN,2625979,2018-02-26 07:00:28
2625835,24,否,0,0,22,0,NaN,2626079,2018-02-26 07:30:29
2625922,24,否,1,0,23,0,NaN,2626166,2018-02-26 08:00:27
2626017,24,否,1,0,23,0,NaN,2626261,2018-02-26 08:30:28
2626126,24,否,4,0,23,0,NaN,2626370,2018-02-26 09:00:31
2626212,24,否,3,0,25,0,NaN,2626456,2018-02-26 09:30:28
2626306,24,否,2,0,24,0,NaN,2626550,2018-02-26 10:00:30
2626419,24,否,2,0,23,0,NaN,2626663,2018-02-26 10:30:29

In [4]:
t3 = df3.set_index(df3['saveTime'],drop=True)#把裡面時間的部分變成index
del t3['saveTime']
t3.index = pd.to_datetime(t3.index,format='%Y-%m-%d %H:%M:%S')
t3 = t3['2017-02-01':'2018-01-31']

In [5]:

del t3['tkey']

In [6]:
t3.dropna(inplace=True)

In [39]:
t3[t3['hid']==10]

Empty DataFrame
Columns: [saveTime, hid, IsFull, WaitingVisit, WaitingBed, WaitingBeingInHospital, WaitingICUBed, UpdateTime]
Index: []

In [ ]:
midnight = t3.between_time('00:00:00','06:00:00')
morning = t3.between_time('06:00:00','12:00:00')
afternoon = t3.between_time('12:00:00','18:00:00')
evening = t3.between_time('18:00:00','00:00:00')

In [ ]:
midnight = midnight.reset_index(level=0)
morning = morning.reset_index(level=0)
afternoon = afternoon.reset_index(level=0)
evening = evening.reset_index(level=0)

In [8]:
t3 = t3.reset_index(level=0)

In [20]:
df4 = pd.merge(df2,t3,left_on='hid', right_on='hid',how= 'inner')
# new_morning = pd.merge(df2,morning,left_on='hid', right_on='hid',how= 'inner')
# new_afternoon = pd.merge(df2,afternoon,left_on='hid', right_on='hid',how= 'inner')
# new_evening = pd.merge(df2,evening,left_on='hid', right_on='hid',how= 'inner')

In [35]:
df4[df4['hid']==8]

Empty DataFrame
Columns: [hid, hCounty, hname, hLevel, saveTime, IsFull, WaitingVisit, WaitingBed, WaitingBeingInHospital, WaitingICUBed, UpdateTime]
Index: []

In [14]:
cnt = 0
for i in tqdm(df4.WaitingBeingInHospital):
    try:
        int(i)
    except:
        df4.drop(df4.index[cnt], inplace=True)
        continue
    cnt+=1

100%|██████████| 276745/276745 [00:00<00:00, 1303850.22it/s]

In [ ]:
newhos

In [18]:
df4.iloc[:, 6:10] = df4.iloc[:, 6:10].astype(np.int64)
# new_morning.iloc[:, 6:] = new_morning.iloc[:, 6:].astype(np.int64)
# new_afternoon.iloc[:, 6:] = new_afternoon.iloc[:, 6:].astype(np.int64)
# new_evening.iloc[:, 6:] = new_evening.iloc[:, 6:].astype(np.int64)

In [36]:
df4.to_csv('newhos.csv',sep=',', encoding='big5')

In [ ]:
newhos = newhos[newhos['hid']!=21]

In [ ]:
newhos = pd.read_csv("newhos.csv",encoding='big5')
newhos.head()

In [ ]:
newhos = newhos.drop('Unnamed: 0', axis=1)

In [ ]:
newhos.reset_index(drop=True)

In [ ]:
new_midnight['saveTime'] = new_midnight.saveTime.dt.strftime('%Y-%m-%d')
# new_morning['saveTime'] = new_morning.saveTime.dt.strftime('%Y-%m-%d')
# new_afternoon['saveTime'] = new_afternoon.saveTime.dt.strftime('%Y-%m-%d')
# new_evening['saveTime'] = new_evening.saveTime.dt.strftime('%Y-%m-%d')

In [ ]:
new_midnight[['WaitingVisit','WaitingBed','WaitingBeingInHospital','WaitingICUBed']].describe().T

In [ ]:
new_midnight[['WaitingVisit','WaitingBed','WaitingBeingInHospital','WaitingICUBed']].corr()

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [ ]:
new_midnight1 = new_midnight.pivot_table(values='WaitingBeingInHospital',index=['saveTime'],columns='hname',aggfunc='sum')
# new_morning1 = new_morning.pivot_table(values='WaitingBeingInHospital',index=['saveTime'],columns='hname',aggfunc='sum')
# new_afternoon1 = new_afternoon.pivot_table(values='WaitingBeingInHospital',index=['saveTime'],columns='hname',aggfunc='sum')
# new_evening1 = new_evening.pivot_table(values='WaitingBeingInHospital',index=['saveTime'],columns='hname',aggfunc='sum')

In [ ]:
new_midnight1.plot(kind='area',title='area chart',figsize=(60,20),stacked=False)

In [ ]:
newhos1

In [ ]:
newhos2 = newhos1.reset_index(level=0)

In [ ]:
newhos2

In [ ]:
newhos1 = newhos.set_index(newhos['saveTime'],drop=True)#把裡面時間的部分變成index
del newhos1['saveTime']
newhos1.index = pd.to_datetime(newhos1.index,format='%Y-%m-%d')

In [ ]:
new_midnight1.index = pd.to_datetime(new_midnight1.index,format='%Y-%m-%d')

In [ ]:
new_midnight2 = new_midnight1.reset_index(level=0)

In [ ]:
newhos#0為index

In [ ]:
newhos2['saveTime'] = newhos2.saveTime.dt.strftime('%Y-%m-%d')

In [ ]:
new_midnight2.plot(kind='area',title='area chart',figsize=(60,20),stacked=False)

In [ ]:
new_midnight2.describe()

In [ ]:
def highlight_highcorr(s):
    is_high = ((s >= 0.4) & (s < 0.69)) #Series condition setting
    return ['background-color: yellow' if v else '' for v in is_high]

In [ ]:
new_midnight2.corr().round(3).style.apply(highlight_highcorr)

In [ ]:
hh = pd.Series(newhos1.index.weekday)

hh_index = hh[(hh == 5)|(hh == 6)].index#取假日

In [ ]:
newhos2['假日'] = newhos2.index.isin(hh_index)

In [ ]:
holiday_to_boolean = {True:1,False:0} #dict
newhos2['假期屬性'] = newhos2['假日'].map(holiday_to_boolean)
newhos2

In [ ]:
del newhos2['假日']

In [ ]:
newhos2

In [ ]:
holiday3 = pd.DataFrame({'彈性放假':['2017-01-02','2017-02-27','2017-04-03','2017-05-29','2017-10-09']})

In [ ]:
holiday3

In [ ]:
holiday = pd.DataFrame({'春假':['2017-01-27','2017-01-28','2017-01-29','2017-01-30','2017-01-31','2017-02-01']})

In [ ]:
holiday

In [ ]:
holiday1 = pd.DataFrame({'國定假日':['2017-02-28','2017-04-04','2017-05-30','2017-10-04','2017-10-10']})

In [ ]:
holiday1

In [ ]:
for index,row in newhos2.iterrows():
    for index1,row1 in holiday3.iterrows():
        if row['saveTime'] == row1['彈性放假']:
            row['假期屬性'] = 4

In [ ]:
newhos2.to_csv('newhos1.csv',sep=',', encoding='big5')